/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --background-image-set: url(../images/cover-image-light.png);
    --head-color: #FFC2E6;
    --accent-color: #353430;
    --title-color: rgba(255, 141, 203, 1);
    --background-color: #353430;
    --content-paragraf-color: #353430;
    --link-shadow:  #FF8DCB;
    --theme-menu-color: rgba(50, 49, 45, 0.40);
    --decoration-visibility: hidden;
    --shadow-color: #FF0070;
    --background-page-color: #FFF1F7;
    ;
  }
}

.page.theme_light {
  --background-image-set: url(../images/cover-image-light.png);
  --head-color: #FFC2E6;
  --accent-color: #353430;
  --title-color: rgba(255, 141, 203, 1);
  --background-color: #353430;
  --content-paragraf-color: #353430;
  --link-shadow:  #FF8DCB;
  --decoration-visibility: hidden;
  --theme-menu-color: rgba(50, 49, 45, 0.40);
  --shadow-color: #FF0070;
  --background-page-color: #FFF1F7;
  ;
}
