/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: "IBM Plex Mono";
  --font-size-main: 18px;
  --font-size-footer: 116px;
  --background-image-set: url(../images/cover-image-dark.png);
  --background-page-color: #000028;
  --accent-color: #ff0070;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --shadow-color: #ff0070;
  --head-color: #db00ff;
  --title-color: rgba(255, 0, 112, 1);
  --content-paragraf-color: #f1b2ce;
  --link-shadow: #ff0070;
  --background-color: #000028;
  --accent-font: "STIX Two Text";
  --offset: 10px;
  --theme-menu-offset: 66px;
  --theme-menu-gap: 13px;
  --theme-menu-bottom: 63px;
  --theme-menu-button-offset: 13px;
  --font-weight-regular: 400;
  --font-weight-wide: 700;
  --line-height-regular: 18px;
  --line-height-lagre: 25px;
  --magrin-title-left: 0px;
  --magrin-title-bottom: 55px;
  --magrin-content-top: 40px;
  --magrin-conten-bottom: 0px;
  --content-section-bottom: 50px;
  --theme-menu-color: rgba(255, 0, 112, 0.4);
  --corners-size: 25px;
  --decoration-size: 9px;
  --heading-bottom: 56px;
  --container-top: 10px;
  --container-bottom: 40px;
  --container-gap: 10px;
  --text-block-top: 50px;
  --button_active-top: -1px;
  --button_active-left: 0px;
  --button_active-right: 0px;
  --button_active-bottom: -2px;
  --height-image1: 142px;
  --height-image2: 355px;
  --height-image3: 237px;
  --height-image4: 355px;
  --height-image5: 237px;
}

@media (min-width: 768px) {
  :root {
    --offset: 20px;
    --magrin-content-top: 60px;
    --theme-menu-offset: 173px;
    --theme-menu-bottom: 172px;
    --theme-menu-gap: 12px;
    --magrin-title-left: -20px;
    --magrin-title-bottom: 162px;
    --magin-content: 60px;
    --heading-bottom: 160px;
    --content-section-bottom: 79px;
    --container-top: 21px;
    --container-gap: 20px;
    --text-block-top: 80px;
    --container-bottom: 60px;
    --button_active-top: -3px;
    --button_active-left: 0px;
    --button_active-right: 0px;
    --button_active-bottom: -4px;
    --height-image1: 192px;
    --height-image2: 411px;
    --height-image3: 568px;
    --height-image4: 230px;
    --height-image5: 318px;
  }
}

@media (min-width: 1024px) {
  :root {
    --container-top: 19px;
    --theme-menu-gap: 18px;
    --theme-menu-offset: 3px;
    --theme-menu-bottom: 270px;
    --magrin-title-bottom: 114px;
    --heading-bottom: 114px;
    --button_active-top: -3px;
    --button_active-left: 0px;
    --button_active-right: 0px;
    --button_active-bottom: 0px;
    --height-image1: 260px;
    --height-image2: 595px;
    --height-image3: 768px;
    --height-image4: 315px;
    --height-image5: 428px;
  }
}
